node_modules/
publish/
rust/target
.vscode/
.idea
rust/.idea
binaryen/

rust/core/target/**
rust/core/Cargo.lock
rust/wasm/target/**
rust/wasm/Cargo.lock
rust/json-gen-split/target/**
tools/metadata-cddl-checker/Cargo.lock
