# Legacy code
node_modules/
publish/
rust/target
.vscode/
.idea
rust/.idea
binaryen/

target/


# New split architecture
Cargo.lock

chain/rust/target/**
chain/rust/Cargo.lock
chain/wasm/target/**
chain/wasm/Cargo.lock
chain/wasm/pkg/**

cip25/rust/target/**
cip25/rust/Cargo.lock
cip25/wasm/target/**
cip25/wasm/Cargo.lock
cip25/wasm/pkg/**
cip25/wasm/json-gen/target/**

cip36/rust/target/**
cip36/rust/Cargo.lock
cip36/wasm/target/**
cip36/wasm/Cargo.lock
cip36/wasm/pkg/**
cip36/wasm/json-gen/target/**

core/rust/target/**
core/rust/Cargo.lock
core/wasm/target/**
core/wasm/Cargo.lock
core/wasm/pkg/**

crypto/rust/target/**
crypto/rust/Cargo.lock
crypto/wasm/target/**
crypto/wasm/Cargo.lock
crypto/wasm/pkg/**

tools/metadata-cddl-checker/Cargo.lock


# Docs
docs/node_modules/
docs/.docusaurus/

# Examples
examples/wasm-browser/node_modules/

