node_modules/
publish/
rust/target
.vscode/
.idea
rust/.idea
binaryen/

target/

core/target/**
core/Cargo.lock

crypto/target/**
crypto/Cargo.lock

crypto-wasm/target/**
crypto-wasm/Cargo.lock
crypto-wasm/pkg/**

wasm/target/**
wasm/Cargo.lock
wasm/pkg/**

cip25/target/**
cip25/Cargo.lock

cip25-wasm/target/**
cip25-wasm/Cargo.lock
cip25-wasm/json-gen/target/**
cip25-wasm/json-gen/output/**
cip25-wasm/json-gen/schemas/**

json-gen-split/target/**

tools/metadata-cddl-checker/Cargo.lock
